body {
	background-color: rgba(255,0,0,0.4);
}
.form-parent {
   display: table;
   width: 100%;
}
.form_login {
   display: table-cell;
   /*vertical-align: middle;*/
}
.divHeight {
	min-height: 5vh;
	text-align: center;
}